<div class="background bg-cyan-300 py-20">
    <form class="shadow-2xl p-5 shadow-cyan-900 mx-10 lg:mx-44 md:mx-32 sm:mx-24">
        <div>
            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-4">
                    <label for="participantName"
                        class="block text-base font-medium leading-6 text-cyan-900">Name</label>
                    <div class="mt-2">
                        <div class="flex shadow-sm sm:max-w-md">
                            <input type="text" name="participantName" id="participantName"
                                class="block rounded-md focus:bg-cyan-100 border-b-2 border-cyan-100  flex-1 bg-transparent py-1.5 pl-1 outline-none text-cyan-600 placeholder:text-cyan-600 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="participantName">
                        </div>
                    </div>
                </div>

                <div class="sm:col-span-3">
                    <label for="participantEmail"
                        class="block text-base font-medium leading-6 text-cyan-900">Email</label>
                    <div class="mt-2">
                        <div class="flex shadow-sm sm:max-w-md">
                            <input type="email" name="participantEmail" id="participantEmail"
                                class="block rounded-md focus:bg-cyan-100 border-b-2 border-cyan-100  flex-1 bg-transparent py-1.5 pl-1 outline-none text-cyan-600 placeholder:text-cyan-600 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="EventName">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label for="phonenumber" class="block text-base font-medium leading-6 text-cyan-900">Phone
                        Number</label>
                    <div class="mt-2">
                        <div class="flex shadow-sm sm:max-w-md">
                            <input type="tel" name="phonenumber" id="phonenumber"
                                class="block rounded-md focus:bg-cyan-100 border-b-2 border-cyan-100  flex-1 bg-transparent py-1.5 pl-1 outline-none text-cyan-600 placeholder:text-cyan-600 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="EventName">
                        </div>
                    </div>
                </div>
                <div class="col-span-full">
                    <label for="course" class="block text-base font-medium leading-6 text-cyan-900">course</label>
                    <div class="mt-2">
                        <div class="flex shadow-sm sm:max-w-md">
                            <input type="text" name="course" id="course"
                                class="block rounded-md focus:bg-cyan-100 border-b-2 border-cyan-100  flex-1 bg-transparent py-1.5 pl-1 outline-none text-cyan-600 placeholder:text-cyan-600 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="EventName">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label for="EventName" class="block text-base font-medium leading-6 text-cyan-900">Event
                        Name</label>
                    <div class="mt-2">
                        <div class="flex shadow-sm sm:max-w-md">
                            <input type="text" name="EventName" id="EventName"
                                class="block rounded-md focus:bg-cyan-100 border-b-2 border-cyan-100  flex-1 bg-transparent py-1.5 pl-1 outline-none text-cyan-600 placeholder:text-cyan-600 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="EventName">
                        </div>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label for="CompetitionName" class="block text-base font-medium leading-6 text-cyan-900">Competition
                        Name</label>
                    <div class="mt-2">
                        <div class="flex shadow-sm sm:max-w-md">
                            <input type="text" name="CompetitionName" id="CompetitionName"
                                class="block rounded-md focus:bg-cyan-100 border-b-2 border-cyan-100  flex-1 bg-transparent py-1.5 pl-1 outline-none text-cyan-600 placeholder:text-cyan-600 focus:ring-0 sm:text-sm sm:leading-6"
                                placeholder="EventName">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button"
                class="text-base font-semibold leading-6 hover:text-cyan-300 hover:bg-cyan-800 py-1 px-3 rounded-lg text-cyan-800">Cancel</button>
            <button type="submit"
                class="rounded-md bg-cyan-800 px-3 py-2 text-base font-semibold text-cyan-300 shadow-sm hover:bg-cyan-500 hover:text-cyan-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">Save</button>
        </div>
    </form>
</div>