
<div class="pt-2 bg-cyan-100">
    <div class="mx-auto max-w-5xl px-2 lg:px-4">
        <div class="">
            <div class=" px-6 pt-4 lg:px-8">
                <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu  blur-3xl sm:-top-80"
                    aria-hidden="true">
                    <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[35.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                </div>
                <div class="mx-auto max-w-2xl py-10 sm:py-12 lg:py-16">
                    <div class="text-center">
                        <h1 class="text-4xl font-bold tracking-tight text-black-800  sm:text-6xl">Tech Events All Around
                            World</h1>
                    </div>
                </div>
                <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
                    aria-hidden="true">
                    <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
                    </div>
                </div>
            </div>
        </div>

        <div class="mx-auto max-w-2xl sm:text-center opacity-100 py-10">
             <h2 class="text-3xl font-bold tracking-tight text-cyan-900 sm:text-4xl">Current Events</h2> 
            <div class="relative flex p-7 mb-4 items-center">
                <div class="flex-grow border-t border-cyan-700"></div>
                <span class="flex-shrink mx-4 text-cyan-700 text-3xl font-bold tracking-tight sm:text-4xl">Events</span>
                <div class="flex-grow border-t border-cyan-700"></div>
            </div>
            <p class="mt-6 text-lg leading-8 text-cyan-600">A technical (business) event defines the drivers of the
                business at the technical level; the things that result in business activity starting or modifying the
                business process. This guideline explains how to find and define business events.</p>
        </div>
        <div class="flex justify-center item-center">
            <div class="grid lg:grid-cols-3 md:grid-cols-2 mt-16 w-fit rounded-3xl sm:mt-20 lg:mx-0">
                <div *ngFor="let c of card" class="p-2  lg:mt-0">
                    <div class="p-2 lg:mt-0 opacity-70 flex flex-wrap hover:opacity-100 hover:scale-110 ">

                        <div class=" py-10 text-center  lg:flex lg:flex-col lg:justify-center lg:py-16">
                            <div class="z-10 -mb-10 -mt-10 flex items-baseline w-80 justify-center gap-x-2">
                                <img class="rounded-full img" src="assets\cat_1.jpg" alt="">
                            </div>
                            <div class="mx-auto rounded-2xl bg-cyan-800  max-w-xs p-16">
                                <p class="text-base font-semibold text-cyan-300">Event Name</p>

                                <p class="mt-6 text-xs leading-5 text-cyan-200">Invoices and receipts available for easy
                                    company
                                    reimbursement</p>
                                <a href="#"
                                    class="mt-10 text-cyan-900 block w-full rounded-md bg-cyan-200 px-3 py-2 text-center text-sm font-semibold shadow-sm hover:bg-cyan-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-600">Get
                                    access</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>