<div class="bg-cyan-100 pb-4">
    <div class="bg-cyan-100">

        <div class="bg-cyan-100">
            <div class="flex justify-center item-center sm:p-6 p-2">
                <p
                    class="sm:text-2xl text-xl text-cyan-600 first-letter:text-cyan-800 sm:first-letter:text-6xl first-letter:text-4xl uppercase font-bold">
                    Log In </p>
            </div>
            <div class="flex justify-center item-center">

                <div
                    class="shadow-2xl shadow-cyan-400 rounded-3xl backdrop-opacity-10 backdrop-invert bg-cyan-100 sm:w-fit pt-5 pb-5 pl-10 pr-10">

                    <div class="w-fit sm:p-4  rounded-tr-full rounded-bl-full bg-cyan-800 shadow-2xl shadow-cyan-400">

                        <form
                            class="w-fit sm:p-8 rounded-tl-full bg-cyan-200 rounded-br-full shadow-2xl shadow-cyan-600 p-4">
                            <div class="grid grid-rows-2 sm:gap-y-3 gap-y-1">
                                <input for="email"
                                    class="placeholder:text-cyan-500 mx-4 sm:mx-auto p-1 sm:p-2 mt-1 bg-cyan-200 border-b-2 border-b-cyan-800 rounded-full focus:outline-2 outline-cyan-800 hover:border-2 border-cyan-800"
                                    placeholder="email" type="email" [ngModelOptions]="{standalone: true }"
                                    [(ngModel)]="admin.email" />
                                <input *ngIf="isChecked == true"
                                    class="placeholder:text-cyan-500 mx-4 sm:mx-auto p-1 sm:p-2 mt-1 rounded-full bg-cyan-200 border-b-2 border-b-cyan-800 focus:outline-2 outline-cyan-800 hover:border-2 border-cyan-800"
                                    type="text" [ngModelOptions]="{standalone: true }" placeholder="password"
                                    [(ngModel)]="admin.password" />
                                <input *ngIf="isChecked == false"
                                    class="placeholder:text-cyan-500 mx-4 sm:mx-auto p-1 sm:p-2 mt-1 rounded-full bg-cyan-200 border-b-2 border-b-cyan-800 focus:outline-2 outline-cyan-800 hover:border-2 border-cyan-800"
                                    type="password" [ngModelOptions]="{standalone: true }" placeholder="password"
                                    [(ngModel)]="admin.password" />
                                <div class="flex">
                                    <input type="checkbox" class="m-2 accent-cyan-500" [(ngModel)]="isChecked"
                                        [ngModelOptions]="{standalone: true }"
                                        (change)="checkValue(isChecked? true : false)" />
                                    <p class="text-cyan-500">show password</p>
                                </div>
                                <button
                                    class="bg-cyan-800 text-cyan-200 p-2 rounded-full border-b-4 border-b-cyan-300 hover:font-bold"
                                    (click)="checkLogin()">login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>