
<div class="flex flex-col justify-center items-center bg-cyan-200 ">
    <div class="mt-32 flex justify-center items-center sm:mx-11 mx-2">
        <span class="font-bold text-cyan-900 sm:text-6xl text-2xl text-center">Rapidly build event and handle keep track
            of competition within an sec.</span>
    </div>
    <div class="p-8 flex justify-center items-center sm:mx-11 mx-2">
        <span class="font-bold text-cyan-600 sm:text-xl text:sm text-center">Event and competition handling website with
            great upcoming technical events.</span>
    </div>
    <div class="flex justify-center items-center gap-4 pb-32">
        <button
            class="bg-cyan-600 m-1 p-2 px-4 border-none rounded-md hover:font-bold hover:bg-cyan-900 text-white font-semibold"
            routerLink="/home">Get
            Started </button>
        <button
            class="bg-cyan-600 m-1 p-2 px-4 border-none rounded-md hover:font-bold hover:bg-cyan-900 text-white font-semibold"
            routerLink="/adminLogin">Log
            In </button>
    </div>
</div>