<div class="flex flex-wrap justify-start items-start bg-cyan-100 h-screen sm:w-44">
    <ul class="list-none flex-col flex justify-center items-start sm:m-4 sm:p-4 m-2 p-2 gap-y-2">
        <li class="font-semibold text-lg text-cyan-800 hover:text-cyan-400 hover:font-bold">Dashboard</li>
        <li class="font-semibold text-lg text-cyan-800 hover:text-cyan-400 hover:font-bold">Admin</li>
        <li class="font-semibold text-lg text-cyan-800 hover:text-cyan-400 hover:font-bold">Event</li>
        <li class="font-semibold text-lg text-cyan-800 hover:text-cyan-400 hover:font-bold">Competition</li>
        <li class="font-semibold text-lg text-cyan-800 hover:text-cyan-400 hover:font-bold">Recents</li>
    </ul>
</div>