<header class="bg-cyan-800">
    <div class="flex justify-between">
        <div class="flex flex-wrap items-center max-w-6xl mx-auto ">
            <span><img src="/assets/logo.png" alt="" class="w-16 h-16"></span>
            <a class="font-bold text-sm sm:text-xl" routerLink="">
                <span class="text-cyan-600">Hack</span>
                <span class="text-cyan-300">Elites</span>
            </a>
        </div>

        <div class="flex flex-wrap items-center max-w-6xl mx-auto p-3">

            <ul class="flex gap-4">
                <a *ngFor="let n of navcomponent" routerLink={{n}}>
                    <li class="font-bold sm:inline text-cyan-400 hover:font-extrabold hover:text-cyan-50">{{n |
                        titlecase}}</li>
                </a>
                <a>
                    <button routerLink="/adminLogin"
                        class="rounded border border-full font-bold w-6 h-6 text-cyan-800 animate-bounce bg-cyan-200">A</button>
                </a>
            </ul>
        </div>
    </div>
</header>